
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary:#030a16;
    --secondary:#323946;
    --disabled:#fff3;
    --green:#7cf03d;
    --white:#fff;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Montserrat", sans-serif;

}
body,html{
    background: var(--primary);
    color: var(--white);
    min-height: 100dvh;
    overflow-x: hidden;
    transition: all 0.3s ease;
}
.body.no-scroll{
    overflow: hidden;
    height: 100dvh;
}
.main-container{
   max-width: 700px;
   padding: 1rem;
   margin:0 auto;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 1rem 0;
}
.brand-info{
    display: flex;
    align-items: center;
    gap: 10px;
}
.brand-info img{
    width:80px;
    height:70px;
    border-radius: 50%;
}
.brand-info h1{
    font-size: 1.7rem;
    font-weight: 800;
}
#menu-toggle{
    display: none;
}
.menu-icon{
    font-weight: 800;
    font-size: 2rem;
    cursor: pointer;
}
#overlay{
    display: none;
    opacity: 0;
    pointer-events: none;
    z-index: 1000;
}
nav{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: 2rem 0;
    z-index: 1000;
    transform: translateX(150%);
        transition: all 0.4s ease;

}
nav a{
    text-align: center;
    padding: 0.8rem;
    font-size: 1.4rem;
    border: 5px solid var(--secondary);
    border-radius: 10px;
    text-decoration: none;
    color: var(--white);
    opacity: 0;
    transform: translateX(150%);
    transition: all 0.4s ease;

}
#menu-toggle:checked ~ nav{
    transform: translateX(0%);
}
#menu-toggle:checked ~ nav a{
    opacity: 1;
    transform: translateX(0%);
    transition-delay: calc(var(--i) * 0.2s);
}
#menu-toggle:checked ~ #overlay{
    display: block;
    opacity: 1;
    position: fixed;
    inset: 0;
    top: 7rem;
    height: 100dvh;
    background: var(--primary);
    pointer-events: none;

}
.navlink-active{
    color: var(--green);
}
.content{
    display: none;
}
.content.active{
    display: block;
}

@media screen and (width>=1024px)
{
    .main-container{
    max-width: 950px;
    }
 header{
    position: static;
 }
 .brand-info{
    gap: 20px;
 }
    .brand-info img{
        width:90px;
        height:90px;
    }


.brand-info h1{
    font-size: 2.5rem;
}
#menu-toggle{
    pointer-events: none;
}
.menu-icon{
    display: none;
}
nav{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    position: static;
    transform: translateX(0%);

}
nav a{
    padding: 0;
    font-size: 1.5rem;
    border: none;
    opacity: 1;
    transform: translateX(0%);
}
nav a:hover{
    color: var(--green);
}

}
@media screen and (width >=1250) {
    .main-container{
        max-width: 1200px;
    }
    .brand-info{
        gap: 35px;
     }
    .brand-info img{
        width:100px;
        height:100px;
    }
    .brand-info h1{
        font-size: 3rem;
    }
    nav{
        gap: 2.5rem;
    }
    nav a{
        font-size: 2rem;
    }

}